*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Questrial', sans-serif;
    
}
:root{
    scroll-behavior: smooth;
}
header{
    height: 10%;
    background-image: linear-gradient(
        to right,
        rgba(132, 215, 240, 0.65) 0%,
        rgba(207, 112, 251, 0.5) 100%
      ),
      url(/static/img/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 30px 0;
}
.titulo{
    font-size: 50px;
}
.subtitulo{
    font-size: 40px;
}
.barra{
    white-space: nowrap;
    position: relative;
}
.barra input#search{
    width: 300px;
    height: 50px;
    background: white;
    border: none;
    font-size: 12pt;
    color: #63717f;
    padding-left: 10%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
.hamburger{
    position: fixed;
    top: 30px;
    left: 30px;
    background: rgba(132, 215, 240, 0.308);
    width: 50px;
    height: 50px;
    cursor:pointer;
    border-radius: 10px;
    box-shadow: 0 0 px rgb(23, 79, 128);
}
.menu-navegacion{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-image: linear-gradient(to top left,
    rgba(207, 112, 251, 0.705) 0%, 
    rgb(132, 215, 240) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translate(-110%);
    box-shadow: 0 0 6px rgb(0, 0, 0);
}
.spread {
    transform: translate(0);
}
.menu-navegacion a{
    color: rgb(11, 39, 63);
    text-decoration: none;
    font-size: 20px;

}
.saludo{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.intro{
    background-image:  linear-gradient(
        to right,
        rgba(132, 215, 240, 0.121) 0%,
        rgba(207, 112, 251, 0.055) 100%
      );
    text-align: center;
    align-self: center;
    padding: 20px;
}
.lema{
    font-size:30px;
    line-height: 1.8;
}
.dreamlike{
    font-family: 'Satisfy', cursive;
    font-size:35px;
    text-shadow: 2px 2px 5px rgb(132, 215, 240);
}
.intro img{
    background-color: black;
    margin: 20px;
}
.info-block{
    margin-top:1%;
    margin-left: 5%;
    margin-right:5%;
}
.galeria{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.galeria-resenas{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-galeria-resenas{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding-top: 1%;
    padding-bottom: 1%;
  }

.catalogue {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}